*.pdb
*.dll
*.xap
CppUIThreadApp/obj/x86/Debug/App.g.cs
CppUIThreadApp/obj/x86/Debug/App.g.i.cs
CppUIThreadApp/obj/x86/Debug/CppUIThreadApp.csproj.FileListAbsolute.txt
CppUIThreadApp/obj/x86/Debug/CppUIThreadApp.csproj.GenerateResource.Cache
CppUIThreadComponent/Debug/CL.5068.read.1.tlog
CppUIThreadComponent/Debug/vc110.idb
*.obj
*.tlog
*.pch
*.log
*.lastbuildstate
*.cache
CppUIThreadApp/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CppUIThreadApp/obj/x86/Debug/XapCacheFile.xml
CppUIThreadApp/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CppUIThreadApp/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CppUIThreadApp/obj/x86/Debug/MainPage.g.i.cs
CppUIThreadApp/obj/x86/Debug/MainPage.g.cs
CppUIThreadApp/obj/x86/Debug/CppUIThreadApp.Resources.AppResources.resources
CppUIThreadApp/obj/x86/Debug/CppUIThreadApp.g.resources
*.exp
*.ilk
Debug/CppUIThreadComponent/CppUIThreadComponent.winmd
*.opensdf
*.sdf
*.suo
CppUIThreadApp/Bin/x86/Debug/AppManifest.xaml
CppUIThreadApp/Bin/x86/Debug/Assets/ApplicationIcon.png
CppUIThreadApp/Bin/x86/Debug/Assets/Tiles/FlipCycleTileLarge.png
CppUIThreadApp/Bin/x86/Debug/Assets/Tiles/FlipCycleTileMedium.png
CppUIThreadApp/Bin/x86/Debug/Assets/Tiles/FlipCycleTileSmall.png